extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  br
  br
  br
  div.admin
    p Pay no attention to the admin console on the index page
    p Create new Poker Room
    form(name="newPokerGame", action="/room/new", method="post")
      label(for="name") Name:
      input(type="text", name="name")
      label(for="coin") Coin:
      select(name="currencyID")
          //- each coin in coins
              option(value="#{coin.id}") #{coin.name}
      label(for="buyin") Buyin:
      input(type="text", name="buyin")
      input(type="submit", name="Create new Room")

    p Start accepting a new coin
    form(name="newCoin", action="/currency/new", method="post")
      label(for="name") Name:
      input(type="text", name="name")
      label(for="coin") Coin:
      input(type="text", name="symbol")
      input(type="submit", name="Create new Currency")
