doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js')

  body
    script(src='/vendor/javascripts/jquery.js')
    if user
      div
        span Welcome back #{user.username}!
    else
      //- for the love of God please read up on Jade to make this prettier
      div
        p
          a(href='/register') Please register
        p or
        p
          a(href='/login') login

    block content
