doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='/vendor/javascripts/jquery.js')
    if user
      div
        span Welcome back #{user.username}!
    block content
