script(type='text/javascript').
  var roomID = '#{room.id}';
  var roomName = "#{room.name}";
script(src='/vendor/javascripts/jquery.js')
script(src='/socket.io/socket.io.js')
canvas
script(src='cdnjs.cloudflare.com/ajax/libs/phaser/1.1.4/phaser.min.js')
script(src='/javascripts/poker.js')
