extends layout
block content
  script(type='text/javascript').
    var roomID = '#{room.id}';
    var roomName = "#{room.name}";
  script(src='/socket.io/socket.io.js')
  div
      span Hole Cards:
      span(id='holeCardsList')
  div
      span Community Cards: 
      span(id='communityCardsList')
  div
      input(id='betAmountField', type='text')
      button(id='betButton', type='button') Bet
  div
      button(id='readyButton', type='button') Ready
  script(src='/javascripts/poker.js')
